@font-face {
  font-family: Maghfirea;
  src: url("../fonts/Maghfirea.woff2") format("woff2");
  font-display: swap;
}

.home{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E8E9EB;
    height:60vh;
    width:95%;
    margin:9% 2.5%;
    border-radius: 2rem;
}

.home h1{
    flex-direction: column;
    font-size:7rem;
    font-family: Maghfirea, serif;
    font-weight:900;
    letter-spacing: 0.3rem;
    text-align: center;
    line-height: 7rem;
    margin:0 20%;
    
}
.home h1 span{
    color: 	#f60001;
}
.home p{
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #333;
}

.let-talk{
    display:flex;
    background-color: #fff;
    height:75vh;
    width:95%;
}
.let-talk-left{
    flex:1;
    width:100%;
    display: flex;
    flex-direction: column;
    margin:7% 6% 0 6%;;
}
.left-header{
    display:flex;
   align-items: center;
    gap:2.7rem;
}
.left-header h1{
    font-size: 4.7rem;
    letter-spacing: 0.4rem;
}
.talk-btn{
   
   height: 4.5rem;
   border-radius: 2rem;
}
.talk-btn i{
    font-size: 1.9rem;
    
}
.let-talk-right{
    flex:1.3;
}
.let-talk-right img{
   
    width:100%;
    height:95%;
    object-fit:cover;

}