.service-container{
    display: flex;
    
    width: 100%;
    justify-content: space-evenly;
 margin-top:4rem;
    margin-bottom: 1rem;
    
}
.main-container{
    background-color: black;
    padding: 55px 30px;
}
.service-texts{
    color: #fff;
    margin-left:2.5rem;
    line-height: 1.7;
    /* border-bottom: 2px solid var(--bs-gray); */
    margin-bottom: 3rem;
}
.service-texts h2{
    font-size: 3rem;
    font-weight: 500;
}
.service-texts p{
    font-weight: 400;
    font-size: 1.2rem;
}