.nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 auto;
    padding: 10px 30px;
    width:100%;
   background-color: #fff;
   z-index: 1;
    
    
}
.navbar{
    display: flex;
    gap: 30px;  
    font-size:18px;  
    font-weight: 400;
    
}
.navbar a{
    text-decoration: none;
    color:inherit;
    position: relative;
    user-select: none;
}
.navbar a::after{
    content: '';
    position: absolute;
    left:0;
    top:100%;
    width: 100%;
    background: #282bdc;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;

}
.navbar a:hover::after{
    transform: scaleX(1);
}
.nav-link.active::after{
    transform: scaleX(1);
}

.cta-btn{
    font-size:18px;
    line-height: 1em;
    padding:0.8em 2em 0.8em 2em;
    background-color: #bffb4f;
    border-radius: 15px;
    border: none ;
    box-shadow: 0.125em 0.125em 0 0 #8342fb,
        0.25em 0.25em 0 0 #8342fb,
        0.25em 0.25em 0 0 #8342fb;
    transition: translate 0.3s ease, box-shadow 0.3s ease;
    
}
.cta-btn:hover{
    translate: 2px 2px;
    box-shadow:0.009em 0.009em 0 0 #8342fb,
        0.12em 0.12em 0 0 #8342fb,
        0.12em 0.12em 0 0 #8342fb;

}



